/*CSS UNIVERSAL PARA TODA A PÁGINA*/
body {

    background-color: rgb(43, 43, 41);

    font-weight: bold;

}
* {

    margin: 0 auto;

    padding: 0;

    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;

}


/*CSS DO MENU HORIZONTAL*/
#menu-h {
    background-color: rgb(55, 53, 48);
}


#menu-h ul {

    max-width: 100%;

    list-style: none;

    padding: 0;

}

#menu-h ul li {
    display: inline;

    border-right: 1px solid rgb(248, 248, 248);

}

#menu-h ul li a {
    color: rgb(255, 252, 252);

    padding: 15px;

    display: inline-block;

    text-decoration: none;

    transition:background .8s;

}


/*passar o mouse e mudar de cor*/
li a:hover {

    background-color: rgb(147, 147, 148);

}

/*faz com que o "Entrar" flutue para a direita*/
#menu-h ul li:last-child a{

    float:right;

    background-color: rgb(223, 151, 70);

    color: rgb(255, 255, 255);

}


/*CSS DA IMAGEM DO BANNER*/
.banner{

        background-image: url("../img/Banner10.png");

        height: 100%;

        background-position: center;

        background-repeat: no-repeat;

        background-size: cover;

        position:relative;

}
body,html {
    height: 100%;

}

/*Css do texto banner*/
.text_banner {

    font-size: 70px;

    text-align: center;

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%,-50%);

    color:rgb(224, 204, 148)
}


/*CSS DA BARRA DE PESQUISA */
.search-item {

    display: flex;

    align-items: center;

    float: center;
}

.search-input {

    padding: 9px;

    border: 1px solid #ccc;

    border-radius: 5px;

    width: 40%;

    float: left;

}


/*CSS DO RODAPÉ - FOOTER*/
footer{
    margin-top: auto;
}

.rodape {
    background-color: rgb(214, 209, 209);
    color:#4e4e4d;
    padding: 20px;
    margin: 0;
    text-align: center;  
    display: grid;
    grid-template-columns: repeat(3 200px);
}

/*CSS DO LOGO/Icone QUE FICA NO RODAPÉ*/
#logo{
    position: absolute;
    width:110px;
    transform: translateY(-7px);
}

/*CSS DOS CONTATOS que ficam dentro do rodapé */
.contatos {
    color:rgb(0, 0, 0);
    font-weight: bold;

}


/*CSS DO INFINITYSTORE - LOGO*/
#infinityStore {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background: -webkit-linear-gradient(#0400ff, #ea00ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}





/*MENU SANDWICH*/
.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}









/* ////////////////////////////////////////////////////////////////*/
/*MEDIA QUERY PARA TELA DE 600 (Celular)*/
@media (max-width: 600px) {
    body {
        background-color: rgb(32, 31, 31);
    
        font-weight: bold;
    }



/*media query do banner */
.banner {
height: 266px;

width: 100%;

margin-bottom: 30px;

background-position: none;

background-repeat: no-repeat;

background-size: none;

position: none;
}

/* media query menu horizontal */
#menu-h {
    background-color: rgb(55, 53, 48);
    display: none;
}


#menu-h ul {
    max-width: 100%;

    list-style: none;

    padding: 0;
}

#menu-h ul li {
    display: inline;
    border-right: 1px solid rgb(248, 248, 248);
}

#menu-h ul li a {
    color: rgb(255, 252, 252);

    padding: 15px;

    display: inline-block;

    text-decoration: none;

    transition:background .8s;

}


/* Media query para Menu Sandwich */
.mobile-menu-icon{
    display: block;
    
}
.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;

}
.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    list-style: none;
}
.mobile-menu ul li a {
    color: rgb(255, 252, 252);

    padding: 15px;

    display: inline-block;

    text-decoration: none;

    transition:background .8s;
}


.mobile-menu .menu-h {
    display: block;
    padding-top: 1.2rem;
    
}

.open {
    display: block;
}

.mobile-menu .search-item{
    display: flex;
    align-items: center;
    float: center;
    padding: 1px;
}
.mobile-menu .search-input{
    padding: 2px;

    border: 1px solid #ccc;
    
        border-radius: 5px;
    
        width: 40%;
    
        float: left;
}

.mobile-menu ul li:last-child a{
    
    float:right;

    background-color: rgb(223, 151, 70);

    color: rgb(255, 255, 255);

}


.mobile-menu #infinityStore{
        font-family: 'Courier New', Courier, monospace;
        font-size: large;
        background: -webkit-linear-gradient(#0400ff, #ea00ff);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
    
}




#menu-promo  {
    text-align: center;
    color:rgb(10, 10, 10);
}


/*Media query barra de pesquisa*/
.banner{
.search-item{
    display: flex;
    align-items: center;
    float: center;
    padding: 1px;
    display: none;

    .search-input{
        padding: 2px;

    border: 1px solid #ccc;
    
        border-radius: 5px;
    
        width: 40%;
    
        float: left;
    }
}

}

 /* media query rodapé */
.rodape{
    background-color: rgb(214, 209, 209);
    color:#4e4e4d;
    font-size: small;
    padding: 100px;
    margin: 0;
    display: flex;
    position: relative;
    grid-template-columns: repeat(3 200px);
}

#logo {
    position:left;
    margin-top: -30px;
    width:69px;
    transform: translateY(-7px);
}

.contatos{
    color:rgb(0, 0, 0);
    font-weight: bold;

}

}



/* //////////////////////////////////////////*/
/*MEDIA QUERY PARA TELA DE 496 (Celular)*/
@media (max-width: 496px) {
/*media query do banner */
.banner {
    height: 226px;
    
    width: 100%;
    
    margin-bottom: 30px;
    
    background-position: none;
    
    background-repeat: no-repeat;
    
    background-size: none;
    
    position: none;
    }
    
}

/* //////////////////////////////////////////*/
/*MEDIA QUERY PARA TELA DE 496 (Celular)*/
@media (max-width: 438px) {
    /*media query do banner */
    .banner {
        height: 226px;
        
        width: 100%;
        
        margin-bottom: 30px;
        
        background-position: none;
        
        background-repeat: no-repeat;
        
        background-size: none;
        
        position: none;
        }

        /* media query rodapé */
.rodape{
    background-color: rgb(214, 209, 209);
    color:#4e4e4d;
    font-size: small;
    padding-top: 75px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    bottom: 0;
    grid-template-columns: repeat(3 200px);
    width: 100%;
    justify-content: center;
}

#logo {
    position:absolute;
    margin-top: -38px;
    width:60px;
    transform: translateY(-25px);
}

.contatos{
    color:rgb(0, 0, 0);
    font-weight: bold;

}

}